body, html {
  height: 100%;
  width: 100%;
}

body {
  background-color: white;
  font-family: 'Quicksand', sans-serif;
}

.container.page-container {
  text-align: center;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

#contact-link:hover {
  color: black;
  font-weight: bold;
}

.project-title {
  text-align: center;
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 1.5rem;
}

.project-image-wrapper {
  padding-left: 0;
  padding-right: 0;
}

#name {
  font-size: 52px;
  font-family: 'Quicksand', sans-serif;
  padding: 80px 0 62px;
}
