/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

$josefin: 'Josefin Sans', sans-serif;
$quicksand: 'Quicksand', sans-serif;

body, html {

	height: 100%;
	width: 100%;

	#index {

		height: 100%;
		width: 100%;
		background-color: white;
		font-family: $quicksand;

		#email:hover {

			color: black;
			font-weight: bold;

		}

		#home_view {

			height: 100%;
			text-align: center;

			#name {

				font-size: 52px;
				font-family: $quicksand;
			}

			#role {

				font-size: 30px;

			}

			.pic {

				// border: 3px solid yellow;

			}

			.col-md-4 {

				font-size: 18px;

			}

		}

		#contact_view {

			font-size: 20px;
			text-align: center;

		}

	}

}