<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <style>

.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

    </style>
</head>
<body>

<p>Just a placeholder for now</p>
    <script>

// Define the dimensions of the visualization

var width = 960,
    height = 500;

var force = null,
    nodes = null,
    links = null;

var svg = d3.select('body').append('svg')
    .attr('width', width)
    .attr('height', height);

var initForce = function() {

    svg.selectAll('*').remove();

    var dataNodes = [
        { x:   width/2, y: 2*height/3 },
        { x:   width/3, y:   height/3 },
        { x: 2*width/3, y:   height/3 },
        { x:   width/3, y:   height - 40 }
    ];

    var dataLinks = [
        { source: 1, target: 0},
        { source: 2, target: 0},
        { source: 3, target: 0}
    ];

    force = d3.layout.force()
        .size([width, height])
        .nodes(dataNodes)
        .links(dataLinks);


    force.linkDistance(height/2);



    links = svg.selectAll('.link')
        .data(dataLinks)
        .enter().append('line')
        .attr('class', 'link')
        .attr('x1', function(d) { return dataNodes[d.source].x; })
        .attr('y1', function(d) { return dataNodes[d.source].y; })
        .attr('x2', function(d) { return dataNodes[d.target].x; })
        .attr('y2', function(d) { return dataNodes[d.target].y; });


    nodes = svg.selectAll('.node')
        .data(dataNodes)
        .enter().append('circle')
        .attr('class', 'node')
        .attr('r', width/25)
        .attr('cx', function(d) { return d.x; })
        .attr('cy', function(d) { return d.y; });


};


initForce();

    </script>
</body>
</html>
