<h1>IN PROGRESS</h1>
<h2>Hello!</h2>
<p>Here are some of my recent projects</p>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-4"><a href="https://sleepy-forest-7490.herokuapp.com" target="_blank"><%= image_tag('fireflies.png', height: '114', width: '200') %></a></div>
  <div class="col-md-4"><a href="https://whispering-depths-6053.herokuapp.com/" target="_blank"><%= image_tag('sauropsids.png', height: '114', width: '200') %></a></div>
  <div class="col-md-4"><a href="https://witch-game.firebaseapp.com/" target="_blank"><%= image_tag('witches.png', height: '114', width: '200') %></a></div>
</div>

