<div id="home_view">
    <h1 id="name">Rebecca Nachison</h1>
    <h3 id="role">Full-Stack Developer</h3>
    <br>
    <br>
    <br>
    <br>
    <h2 id="projects">Recent Projects</h2>
    <br>
    <div class="row">
        <div class="col-md-4">Night Forest</div>
        <div class="col-md-4">Sauropsid Adoption</div>
        <div class="col-md-4">Witch's Tic Tac Toe (requires two browsers)</div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4"><a href="https://sleepy-forest-7490.herokuapp.com" target="_blank"><%= image_tag('fireflies.png', height: '228', width: '400', class: 'pic', title: 'Mystic Forest Astronomy App') %></a></div>
      <div class="col-md-4"><a href="https://whispering-depths-6053.herokuapp.com/" target="_blank"><%= image_tag('saxon.png', height: '228', width: '400', class: 'pic', title: 'Prehistoric Pet Adoption Site') %></a></div>
      <div class="col-md-4"><a href="https://witch-game.firebaseapp.com/" target="_blank"><%= image_tag('witches.png', height: '228', width: '400', class: 'pic', title: 'Two-Player Tic Tac Toe') %></a></div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref="bio">Bio</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="https://github.com/rnachison" target="_blank">Github</a></li>
            <li><a href="https://www.linkedin.com/profile/view?id=373204115" target="_blank">LinkedIn</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</div>

