<div id="home_view">
    <h1 id="name">Rebecca Nachison</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 id="projects">Projects</h2>
    <br>
    <div class="row">
        <div class="col-md-4">Night Forest</div>
        <div class="col-md-4">Sauropsid Adoption</div>
        <div class="col-md-4">Witch Tic Tac Toe (requires two browsers)</div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4"><a href="https://sleepy-forest-7490.herokuapp.com" target="_blank"><%= image_tag('fireflies.png', height: '228', width: '400', class: 'pic', title: 'Mystic Forest Astronomy App') %></a></div>
      <div class="col-md-4"><a href="https://whispering-depths-6053.herokuapp.com/" target="_blank"><%= image_tag('saxon.png', height: '228', width: '400', class: 'pic', title: 'Prehistoric Pet Adoption Site') %></a></div>
      <div class="col-md-4"><a href="https://witch-game.firebaseapp.com/" target="_blank"><%= image_tag('witches.png', height: '228', width: '400', class: 'pic', title: 'Two-Player Tic Tac Toe') %></a></div>
    </div>
</div>

